* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
  font-family: 'Raleway', 'helvetica', 'arial', sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: $black;
  color: $grey;
}