nav {
  .nav-link {
  color: $grey;
  }
  .nav-link:hover {
    color: $yellow;
    transform: scale(1.5);
  }
  .navimg{
    max-block-size: 50px;
    margin-left: 10px;
    border-radius: 50%;
  }
}